body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  color: #003b5c;
  margin-left: 10px;
  margin-right: 10px;
  height: 100%;
}
header {
  height: 20vh;

  background-color: #5c2a3e;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .tel-icon-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
  }

  .call-link {
    color: #ffcc00;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    padding-left: 20px;
    &:hover {
      text-decoration: underline;
      color: #f5de5e;
    }
  }

  .icon-container {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-right: 20px;
    i {
      margin: 0 10px;
      color: white;
      font-size: 18px;
      cursor: pointer;
      &:hover {
        color: #ffcc00;
      }
    }
  }
  .search-btn {
    background-color: #ffcc00;
    cursor: pointer;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    &:hover {
      background-color: #f5de5e;
    }
  }

  .menu-container {
    width: 100%;

    nav {
      width: 100%;
      height: 40px;
      background-color: rgba(255, 255, 255, 0.9);
      display: none;

      .nav-list {
        list-style: none;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;

        li {
          cursor: pointer;
          transition: background-color 0.3s;
          &:hover {
            text-decoration: underline;
            color: #ffcc00;
          }
          a {
            text-decoration: none;
            color: rgb(14, 11, 11);
            font-weight: bolder;
          }
        }
      }
    }
    .menu-button {
      display: flex;
      justify-content: center;
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        height: 40px;
        width: 40px;
        cursor: pointer;
        border: none;
        border-radius: 50px;
        &:hover {
          background-color: #f5de5e;
        }
      }
    }
  }
  .menu-container:hover nav {
    display: block;
  }
  .menu-container:hover button {
    display: none;
  }
}

main {
  .home-part {
    padding-top: 0px;
    padding-left: 20px 10px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    div{padding-top: 40px;}
    .home-img {
      background-image: url(./images/1280px-Massawa_harbour.jpeg);
      height: 400px;
      width: 100%;
      background-size: cover;
      background-position: center;
      position: relative;
    }

    h1 {
      position: absolute;
      bottom: 20px;
      left: 120px;
      font-size: 3rem;
      color: #003b5c;

      text-shadow: 8px 8px 4px rgba(1, 8, 10, 0.5);
    }
    h2,
    h3 {
      color: black;
      font-family: "Playwrite DE Grund", cursive;
      font-optical-sizing: auto;
      font-weight: bold;
      font-style: normal;
    }
    p {
      font-weight: l;
    }
    .home-intro-text {
      background-color: rgba(255, 255, 255, 0.9);
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      margin-top: 10px;
      padding-left: 20px;
    }
  }

  .about-part {
    h2 {
      font-size: 2rem;
      color: black;
      text-align: center;
      text-shadow: 8px 8px 2px rgba(12, 11, 11, 0.5);
    }
    .grid-cotainer-about {
      box-shadow: 7px 4px 8px rgba(24, 8, 8, 0.1);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
      gap: 20px;
      width: 60%;
      margin: 0 auto;
      padding: 10px 10px;
      div {
        
        text-align: center;
        border-radius: 8px;
      }
      img {
        width: 100%;
        height: 50%;
        object-fit: cover;
        border-radius: 8px;
        margin-bottom: 15px;
      }
      h3 {
        font-size: 1.5rem;
        color: #003b5c;
        text-shadow: 8px 8px 4px rgba(12, 11, 11, 0.5);
      }
      button {
        background-color: #007bff;
        border: none;
        border-radius: 6px;
        width: 100px;
        height: 40px;
        cursor: pointer;
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
  .history-part {
    background-color: #ffffff6c;
    box-shadow: 7px 4px 18px rgba(24, 8, 8, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px #ffffff6c solid;
    width: 50vw;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    div {
      text-align: center;
    }

    img {
      width: 100%;
      object-fit: cover;
    }
    h2 {
      color: black;
      font-size: 3rem;
      text-shadow: 8px 8px 4px rgba(12, 11, 11, 0.5);
    }
    h3 {
      color: #003b5c;
      text-shadow: 8px 8px 4px rgba(12, 11, 11, 0.5);
    }

    button {
      color: white;
      background-color: #007bff;
      border: none;
      border-radius: 6px;
      width: 100px;
      height: 40px;
      cursor: pointer;
      &:hover {
        background-color: #0056b3;
      }
    }
  }
  .attraction-part {
    padding: 20px;

    .things-to-do {
      display: flex;
      gap: 20px;
      justify-content: space-between;
   
      width: 100%;
    }
    img {
      width: 50%;
      object-fit: cover;
    }
    p {
      color: black;
    }
    div {
      background-color: #fff;
      padding: 20px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      width: 23%;
      &:hover{transform: scale(.9);}
    }
    button {
      margin-top: 10px;
      padding: 10px;
      background-color: #ffcc00;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    button:hover {
      background-color: #0056b3;
    }
    h2 {
      color: black;
      font-size: 3rem;
      text-shadow: 8px 8px 4px rgba(12, 11, 11, 0.178);
    }
    h3 {
      font-size: 2rem;
      color: #003b5c;
      text-shadow: 8px 8px 4px rgba(12, 11, 11, 0.37);
    }
  }

  .Foods-restorant-part {
    padding: 20px;

    margin: 20px 0;
    h2 {
      font-size: 2em;
      margin-bottom: 10px;
      color: black;
      text-align: center;
    }
    p {
      font-size: 1.1em;
      color: black;
      font-weight: lighter;
      text-align: center;
    }
    ul {
      li {
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        margin: 20px 30px;
        border: 1px solid #ddd;
        border-radius: 8px;
   
        img {
          width: 20%;
          object-fit: cover;
        }
        div {
          padding: 15px;
        }
      }
      .fas.fa-star,
      .far.fa-star {
        color: #ffcc00;
      }

      .button-contaner {
        display: flex;
        flex-direction: column;

        button {
          color: black;
          border: none;
          border-radius: 5px;
          padding: 10px 15px;
          margin: 5px;
          cursor: pointer;

          i {
            color: #007bff;
          }
        }
        .full-width-button {
          width: 100%;
          margin-top: 10px;
          button {
            width: 80%;
            background-color: #007bffb7;
          }
          i {
            color: white;
            font-size: 20px;
          }
        }
        button:hover {
          background-color: #007bff;
        }
      }
    }
  }
  .galary-part {
    h2 {
      color: black;
      font-weight: 2rem;
    }
    .image-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 auto;
      max-width: 1200px;
      border: 2px solid #00ffaa50;
      border-radius: 8px;
      background-color: #fff;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      padding: 10px 20px;
      img {
        width: 20%;
        object-fit: cover;
        margin-bottom: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        &:hover{transform: scale(1.1);}
      }
      i {
        margin-top: 100px;
        &:hover {
          color: #ffcc00;
        }
      }
    }
  }

  .cities-section {
    h2 {
      font-size: 2rem;
      color: black;
    }

    .city-cards-container {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      border: 2px solid #00ffaa50;

      width: 60%;
      margin: 0 auto;
      background-color: #fff;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
    

      img {
        width: 60%;
        object-fit: cover;
      }
      i {
        margin-top: 250px;
        padding-right: 10px;
        &:hover {
          color: #ffcc00;
        }
      }
      div {
        margin: 0 auto;
        background-color: #ffffff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 10px 15px;
        border-radius: 5px;
        overflow: hidden;
        width: 20%;
        &:hover{transform: scale(1.1);}
      }

      button {
        margin-top: 10px;
        padding: 10px;
        background-color: #ffcc00;
        color: white;
        width: 80px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        &:hover {
          background-color: #f5de5e;
        }
      }
    }
  }
}
footer {
  display: flex;
  flex-direction: column;
  background-color: #6c2c3e;
  padding-left: 20px;
  padding-right: 20px;
  color: wheat;
  margin-top: 20px;
  .footer-container {
    display: flex;
    justify-content: space-between;

    display: flex;
    gap: 20px;
  }
  li {
    list-style: none;
    padding-top: 10px;
    a {
      color: wheat;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .footer-bottom {
    p {
      text-align: center;
      color: #f4f4f4;
    }
  }
  button {
    margin-top: 10px;
    background-color: #ffcc00;
    &:hover {
      background-color: #ffcc00b6;
    }
  }
  h3 {
    color: white;
  }
  button {
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 6px;
  }
  nav {
    margin-right: 0;
    width: 100%;

    a {
      text-decoration: none;
      color: #ffe600;
      font-weight: bold;
      &:hover {
        color: #0056b3;
      }
    }
  }
}

@media (max-width: 768px) {
  
  main {
   
    .things-to-do-div {
      flex-direction: column;
    }
    .about-part {
      .grid-cotainer-about {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
      }
    }
  }

  .footer-container {
    flex-direction: column;
  }
}
